
server:
  port: 9001
  servlet:
    context-path: /api/users

spring:
  application:
    name: user-service

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8080/eureka
  instance:
    hostname: localhost
    prefer-ip-address: true
